<mat-toolbar class="header" color="primary">
  <img
    src="assets/img/frog_2.svg"
    alt="logo"
    class="logo"
    (click)="goToOverviewPage()"
    />
    <span class="title">{{ title }}</span>
    <ng-content select="[ocActions]" />
    <span class="fill-remaining-space"></span>
    @if (employee$ | async) {
      <button
        mat-stroked-button
        (click)="logout()"
        >
        {{ employee$ | async }} uitloggen
      </button>
    } @else {
      <button mat-stroked-button (click)="logout()">Uitloggen</button>
    }
  </mat-toolbar>
