<oc-header [title]="'Order'"></oc-header>
<div class="order-page">
  <main class="order-page__content">
    <mat-tab-group>
      <mat-tab label="Drank">
        <div class="order-items">
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Champagne (fles)</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Voorgerecht">
        Hier komen de voorgerechten
      </mat-tab>
      <mat-tab label="Hoofdgerecht"></mat-tab>
      <mat-tab label="Dessert"></mat-tab>
    </mat-tab-group>
  </main>
  <aside class="order-page__aside">
    <div class="summary">
      <div class="summary__line">
        <span class="summary__title">Champagne (fles)</span>
        <span class="summary_amount">1</span>
      </div>
      <div class="summary_line">
        <span class="summary__remark">Vier glazen</span>
      </div>
    </div>
    <div class="summary">
      smkjfmsf
    </div>
    <div class="summary">
      smkjfmsf
    </div>
    <div class="summary">
      smkjfmsf
    </div>
  </aside>
</div>
