<oc-header [title]="'Order'"></oc-header>
<div class="order-page">
  <main class="order-page__content">
    <mat-tab-group>
      <mat-tab label="Drank">
        <div class="order-items">
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Champagne (fles)</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
          <div class="order-item">
            <button mat-raised-button color="primary">Cola</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Voorgerecht">
        Hier komen de voorgerechten
      </mat-tab>
      <mat-tab label="Hoofdgerecht"></mat-tab>
      <mat-tab label="Dessert"></mat-tab>
    </mat-tab-group>
  </main>
  <aside class="order-page__aside">
    <div class="summary-list">
      <oc-summary-item
        *ngFor="let item of items"
        class="summary"
        [title]="item.title"
        [amount]="item.amount"
        [remarks]="item.remarks"
        [editMode]="editId === item.id"
        (click)="editId = item.id" (delete)="onDelete(item.id)">
      </oc-summary-item>
    </div>
  </aside>
</div>
