<oc-header [title]="'Order'"></oc-header>
<div class="order-page">
  <main class="order-page__content">
    <mat-tab-group>
      <mat-tab *ngFor="let category of (categories$ | async)" [label]="category.name">
        <div class="order-items">
          <div *ngFor="let menuItem of category.menuItems" class="order-item">
            <button mat-raised-button color="primary" (click)="addSummaryItem(menuItem.id, menuItem.name)">{{ menuItem.name }}</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </main>
  <aside class="order-page__aside">
    <div class="summary-list">
      <oc-summary-item
        *ngFor="let item of summaryItems"
        class="summary"
        [id]="item.id"
        [title]="item.title"
        [amount]="item.amount"
        [remarks]="item.remarks"
        [editMode]="editId === item.id"
        (leave)="onLeave($event)"
        (click)="toggleEditMode(item.id)" (delete)="onDelete(item.id)">
      </oc-summary-item>
    </div>
      <button class="submit-order" mat-raised-button color="accent" (click)="submitOrder()">Plaats bestelling</button>
  </aside>
</div>
