/* You can add global styles to this file, and also import other style files */
@use '@fontsource/roboto/300.css' as *; // Weight 300.
@use '@fontsource/roboto/300-italic.css' as *; // Weight 300 Italic variant.
@use '@fontsource/roboto/400.css' as *; // Weight 400.
@use '@fontsource/roboto/400-italic.css' as *; // Weight 400 Italic variant.
@use '@fontsource/roboto/500.css' as *; // Weight 500.
@use '@fontsource/roboto/500-italic.css' as *; // Weight 500 Italic variant.
@use '@fontsource/material-icons' as *;
@use '@fontsource/material-icons-round' as *;
@use '@fontsource/material-icons-outlined' as *;
@use '@fontsource/material-icons-sharp' as *;
@use '@fontsource/material-icons-two-tone' as *;

html,
body,
oc-root {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
}
