/* You can add global styles to this file, and also import other style files */
@import "@fontsource/roboto/300.css"; // Weight 300.
@import "@fontsource/roboto/300-italic.css"; // Weight 300 Italic variant.
@import "@fontsource/roboto/400.css"; // Weight 400.
@import "@fontsource/roboto/400-italic.css"; // Weight 400 Italic variant.
@import "@fontsource/roboto/500.css"; // Weight 500.
@import "@fontsource/roboto/500-italic.css"; // Weight 500 Italic variant.
@import "@fontsource/material-icons";
@import "@fontsource/material-icons-round";
@import "@fontsource/material-icons-outlined";
@import "@fontsource/material-icons-sharp";
@import "@fontsource/material-icons-two-tone";

html,
body,
oc-root {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
